.DS_Store
.vscode
noc/static/*
noc/iot-certificates
/.idea/
/noc/.idea/
*/__pycache__
*.py[cod]
/noc/conf/config.yaml
/noc/celerylogs
/noc/profiles
/noc/scripts/migrate_old_noc_to_new/config.yaml
/noc/scripts/datalake_migration/config.yaml
*-ThinkPad.log
screenlog.*
/noc_streaming_job/src/main/resources/conf.properties
/noc_streaming_job/noc_streaming_job.iml
/noc_streaming_job/.idea/
/noc_streaming_job/dependency-reduced-pom.xml
